<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4">
  <div>
    <p class="col-md-12 mb-0 text-body-secondary">&copy; 2023 | Built with <i class="bi bi-suit-heart-fill"></i> by Ilium Developers Guild</p> 
  </div>
</footer>